/* リセットCSS */
/* index.cssと共通 */

/* ヘッダー */
/* index.cssと共通 */

/* メインボディー */
/* ボディーアッパー */
.body_upper_show{
  height: 350px;
  display: flex;
  
  
}

.body_upper_show_left{
  width: 60%;
  padding: 50px;
  

}

.body_upper_show_right{
  width: 40%;
  background-image: url(https://www.photolibrary.jp/mhd8/img568/450-20180206212758192235.jpg);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

/* ボディーローワー */
.body_lower_show{
  height: 500px;
  padding: 0 0 60px 0;
}

.graph{
  height: 100%;
  padding: 100px 250px;
}

.sum{
  font-size: 30px;
  padding: 15px 0 15px 60px;
  display: flex;
}

.average{
  font-size: 20px;
  padding: 15px 0 15px 100px;
  display: flex;
  text-decoration: underline;
}

.note{
  height: 200px;
  margin: 0 300px;
}